<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forbidden Error</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/404PageCSS.css}"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}"/>
</head>

<body>
<div id="notfound">
    <div class="notfound">
        <div>
            <div class="notfound-404">
                <h1>!</h1>
            </div>
            <h2>Error<br>403</h2>
        </div>
        <p>Sorry, you don't have permission to view this page. <a th:href="@{/index}">Back to homepage</a></p>
    </div>
</div>
</body>

</html>