<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Internal Server Error</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/404PageCSS.css}"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}"/>
</head>

<body>
<div id="notfound">
    <div class="notfound">
        <div>
            <div class="notfound-404">
                <h1>!</h1>
            </div>
            <h2>Error<br>500</h2>
        </div>
        <p>Oops, something went wrong. Try to refresh this page or feel free to contact us if the problem persists.</p>
    </div>
</div>
</body>

</html>