<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>ĐăngNhập</title>
<body>
<h1><i></i></h1>
<div class="loginbox">
    <img src="img/logo.png" class="avatar">
    <h1>Đăng Nhập</h1>
    <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Password">
        <button>
            <a th:href="@{/index}">Đăng Nhập</a>
        </button>

    </form>

</div>

</body>
</head>
</html>