<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacle=1, maximun-scale=1">
    <title>Add Admin Account</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/logo.png}">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<html>
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <div class="logo">
            <a th:href="@{index}"><img th:src="@{/img/logo.png}" width="130px" alt="logo"></a>
        </div>

    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a th:href="@{index}"/><span class="las la-igloo"></span>
                <span>Danh Mục</span></a>
            </li>

            <li>
                <a th:href="@{miennam}"/><span class="las la-clipboard-list"></span>
                <span>Xổ Số Miền Nam</span></a>
            </li>

            <li>
                <a th:href="@{mienbac}"/><span class="las la-clipboard-list"></span>
                <span>Xổ Số Miền Bắc</span></a>
            </li>

            <li>
                <a th:href="@{mientrung}"/><span class="las la-clipboard-list"></span>
                <span>Xổ Số Miền Trung</span></a>
            </li>
            <li>
                <a th:href="@{account}" class="active"/><span class="las la-users"></span>
                <span>Tài Khoản</span></a>
            </li>
            <li>
                <a th:href="@{gtxs}"/><span class="las la-clipboard-list"></span>
                <span>Cơ cấu giải thưởng</span></a>
            </li>

        </ul>
    </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h2>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Search here"/>
        </div>
        <div class="user-wrapper">
            <img th:src="@{/img/account.png}" width="30px" height="30px" alt="account">
            <div>
                <h3>[[${#httpServletRequest.remoteUser}]]</h3>
                <h5 style="margin-top: 5px"><a th:href="@{/logout}" style="color: red">Logout</a></h5>
            </div>
        </div>
    </header>
    <main>
        <div style="color: #cb854c;" class="cards1">
                <h1>CREATE NEW ADMIN ACCOUNT</h1>
        </div>
        <form th:action="@{/account/saveAdminAccount}" action="#" method="POST" th:object="${account}">
            <div class="container">

                <label th:for="hovaten"><b>Full Name</b></label>
                <input type="text" th:field="*{hovaten}" placeholder="Enter your Full Name" name="hovaten" id="hovaten"
                       required>

                <label th:for="username"><b>User Name</b></label>
                <input type="text" th:field="*{username}" placeholder="Enter User Name" name="username" id="username"
                       required>

                <label th:for="password"><b>Password</b></label>
                <input type="password" th:field="*{password}" placeholder="Enter Password" name="password" id="password"
                       required>

                <hr>

                <div class="text-center">
                    <button type="submit" style="color: #155724;
                               background-color: #d4edda;
                               border-color: #c3e6cb;
                               padding: 0.5rem 1.5rem;
                               border: 1px solid transparent;
                               border-radius: 0.25rem;
                               font-size: 15px; margin-right: 15px">Save</button>

                    <button type="button" style="color: #721c24;
						background-color: #f8d7da;
						border-color: #f5c6cb;
						padding: 0.5rem 1.5rem;
						border: 1px solid transparent;
                        border-radius: 0.25rem;
                        font-size: 15px; " onclick="cancelForm()">Cancel</button>
                </div>

            </div>

        </form>

        <script type="text/javascript">
            function cancelForm() {
                window.location = "/account";
            }
        </script>

    </main>
</div>

</body>
</html>