<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin Dashboard - Xổ số Miền Nam</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/mienbac}" class="logo d-flex align-items-center">
        <img src="../assets/img/logo.png" alt="logo.png">
        <span class="d-none d-lg-block">Flames</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Flames Admin</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/change-password}">
                <i class="bi bi-gear"></i>
                <span>Change Password</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#lottery-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Lottery Results</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="lottery-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/mienbac}" >
              <i class="bi bi-circle"></i><span>Xổ số Miền Bắc</span>
            </a>
          </li>
          <li>
            <a th:href="@{/mientrung}">
              <i class="bi bi-circle"></i><span>Xổ số Miền Trung</span>
            </a>
          </li>
          <li>
            <a th:href="@{/miennam}" class="active">
              <i class="bi bi-circle"></i><span>Xổ số Miền Nam</span>
            </a>
          </li>
        </ul>
      </li><!-- End Lottery Results Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#crawler-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-arrow-down"></i><span>Crawler</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="crawler-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/crawldata}">
              <i class="bi bi-circle"></i><span>Crawl Data</span>
            </a>
          </li>
          <li>
            <a th:href="@{/crawldetail}">
              <i class="bi bi-circle"></i><span>Detail Crawl</span>
            </a>
          </li>
        </ul>
      </li><!-- End Lottery Results Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/prize}">
          <i class="bi bi-gem"></i>
          <span>Prizes</span>
        </a>
      </li><!-- End Prizes Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#account-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>Account</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="account-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/account}">
              <i class="bi bi-circle"></i><span>Account List</span>
            </a>
          </li>
          <li>
            <a th:href="@{/change-password}">
              <i class="bi bi-circle"></i><span>Change Password</span>
            </a>
          </li>
        </ul>
      </li><!-- End Accounts Nav -->
    </ul>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Kết quả Xổ số Miền Nam</h1>
    </div><!-- End Page Title -->
    <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="bi bi-check-circle me-1"></i>
      [[${message}]]
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <section class="section">
      <div class="row">
        <div class="col">
          <div class="card">
            <script>$('#date').datepicker({ dateFormat: 'dd/mm/yyyy' }).val();</script>
            <div class="card-header">
              <form action="getdateMN" method="post">
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Choose Date:</label>
                  <div class="col-sm-3">
                    <input type="date" name="date" value="${date}" class="form-control" required>
                    <input type="text" name="mien" value="2" hidden>
                  </div>
                </div>
                  <div class="row mb-3">
                    <label for="inputCity"  class="col-sm-2 col-form-label">Choose Province/City</label>
                    <div class="col-sm-3">
                      <select id="inputCity" class="form-select" aria-label="Default select example" name="tinhthanhpho">
                        <option value="21">TP. Hồ Chí Minh</option>
                        <option value="22">Đồng Tháp</option>
                        <option value="23">Cà Mau</option>
                        <option value="24">Bến Trê</option>
                        <option value="25">Vũng Tàu</option>
                        <option value="26">Bạc Liêu</option>
                        <option value="27">Đồng Nai</option>
                        <option value="28">Cần Thơ</option>
                        <option value="29">Sóc Trăng</option>
                        <option value="30">Tây Ninh</option>
                        <option value="31">An Giang</option>
                        <option value="32">Bình Thuận</option>
                        <option value="33">Vĩnh Long</option>
                        <option value="34">Bình Dương</option>
                        <option value="35">Trà Vinh</option>
                        <option value="36">Long An</option>
                        <option value="37">Bình Phước</option>
                        <option value="38">Hậu Giang</option>
                        <option value="39">Tiền Giang</option>
                        <option value="40">Kiên Giang</option>
                        <option value="41">Đà Lạt</option>
                      </select>
                    </div>
                  </div>
                <button class="btn btn-success">Show Result</button>
              </form>
            </div>

            <div class="card-body">

              <div class="card-title text-center" th:object="${getttp}">
                <h3 th:text="'Kết quả Xổ số Miền Nam - Tỉnh/Thành phố: '+ *{tentinhThanhpho}"></h3>
                <h4 th:text="'Ngày: '+${date}"></h4>
              </div>

              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th scope="col">Giải</th>
                  <th scope="col">Flames</th>
                  <th scope="col">Minh Ngọc</th>
                  <th scope="col">Đại Phát</th>
                </tr>
                </thead>

                <tbody >
                <tr>
                  <td>
                    <table class="table table-striped table-bordered" >
                      <tr th:each="prize : ${listPrizes}">
                        <td th:text="${prize.tengiaithuong}" >
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table class="table table-striped table-bordered">
                      <tr th:each="fl : ${listFlame}">
                        <td th:text="${fl.sotrungthuong}">
                        </td>
                        <td>
                          <a type="button" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                             th:href="@{/editLotteryNumberMN/{id}(id=${fl.id})}"><i class="bi bi-pencil-square"></i>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table class="table table-striped table-bordered">
                      <tbody>
                      <tr th:each="mn : ${listMN}">
                        <td th:text="${mn.sotrungthuong}" >
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="table table-striped table-bordered">
                      <tr th:each="dp : ${listDP}">
                        <!--/*@thymesVar id="dp" type="mssql"*/-->
                        <td th:text="${dp.sotrungthuong}" >
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Flames</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">Flames</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- Jquery JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>